.sidebar {
    position: fixed;
    left: 0;
    top: 64px;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    color: #5f6368;
    width: 60px;
    overflow-x: hidden;
}

.active {
    background-color: #feefc3;
    border-radius: 50%;
    color: black;
}

.active:hover {
    background-color: #feefc3;
}

.sidebar .side-item {
    padding: 3px;
    display: flex;
    align-items: center;
}

.side-item .sidebar-text {
    color: black;
    font-size: 0.9rem;
    margin-left: 20px;
    width: 250px;
}

.side-item:nth-child(1) {
    margin-top: 5px;
}